<div class="footer foot position-fixed" style="z-index: -991" >
  <div id="fbar">
    <div class="fbar">
      <div class="user-loc-holder">
        <div class="footer-content">
          <span class="user-loc">Nigeria</span>
        </div>
      </div>
      <span class="float-right-w-mr">
                    <a href="javascript:void(0)" class="lnk-txt" >Privacy</a>
                    <a href="javascript:void(0)" class="lnk-txt">Terms</a>
                    <a href="javascript:void(0)" class="lnk-txt">Settings</a>
                </span>
      <span  class="m-wrap" >
                    <a href="javascript:void(0)" class="lnk-txt" >Advertising</a>
                    <a href="javascript:void(0)" class="lnk-txt" >Business</a>
                    <a href="javascript:void(0)" class="lnk-txt">  How Search works </a>
                </span>
    </div>
  </div>
</div>
