<div class="google-offer2" style="z-index: -99999">
  <div>
    <div class="google-offered-in ">
      Google offered in:
      <a href="javascript:void(0)" class="text-blue px-2" [routerLink]="['/']">Hausa</a>
      <a  href="javascript:void(0)"  class="text-blue px-2" [routerLink]="['/']">Igbo</a>
      <a  href="javascript:void(0)" class="text-blue px-2" [routerLink]="['/']">Ede Yoruba</a>
      <a  href="javascript:void(0)" class="text-blue px-2" [routerLink]="['/']">Nigerian Pidgin</a>
    </div>
  </div>
  <div >

  </div>
</div>
