<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google</title>
    <link rel="stylesheet" type="text/css" href="../css/google.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />

</head>
<body style="background: #ffffff; overflow-x: hidden">
<div>
    <div style="height: 80px;width: 100%" class="main-content ">
        <div style="">
            <div class="float-right-w-mr mt-10">
            <div class="header-data header-link"><a href="#">Gmail</a></div>
            <div class="header-data header-link"><a href="#">Images</a></div>
                <div class="header-data header-link"><a href="#"><img src="../images/icon.png" width="29" style="margin-bottom: -10px;"></a></div>
            <div class="header-link header-link"><a href="#"><img src="../images/user-img.jpg" width="29" style="margin-bottom: -10px;"></a></div>
            </div>
        </div>
    </div>



    <main  class="main-content">
        <div style="height: 70%">


            <span ><center>
                <div >
                <img alt="Google" height="92"  src="../images/googlelogo_color_272x92dp.png" style="padding-top:69px" width="272"></div>
                <div style="height:118px">



<div class="offset mb-10 mt-10">
                                    <div class="group-input-field search-view  " style="text-align: center;margin-bottom:-10px;">
                                        <div class="group-input-field-prepend" style="cursor: pointer;height: 48px !important;">
                                    <span class="group-text" style="border-left: 1px solid #ddd" >
                                        <img src="../images/search.png" width="19">
                                    </span>
                                        </div>

                                        <input type="search" class="header-search"
                                               style="height: 48px !important;"
                                               id="searchWithAutoComplete">

                                        <div class="group-input-field-append" style="cursor: pointer;height: 48px !important;">
                                    <span class="group-text ">
                                       <img src="http://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png" width="19">
                                    </span>
                                        </div>
                                    </div>

    <div style="text-align: left;" id="searchResult">
        <ul style="list-style: none; background-color: #ffffff;border: 1px solid #ddd;width: 53%;min-height: 200px;" id="outputField">

        </ul>

    </div>

                                </div>


            <div style="text-align: center;margin-top: 20px;" class="">
                <input value="Google Search" type="submit">
                <input value="I'm Feeling Lucky" type="button" >
            </div>
                </div>



                <div class="google-offer">
                    <div>
                        <div class="google-offered-in">
                            Google offered in:
                            <a href="#">Hausa</a>
                            <a href="#">Igbo</a>
                            <a href="#">Ede Yoruba</a>
                            <a href="#">Nigerian Pidgin</a>
                        </div>
                    </div>
                    <div >

                    </div>
                </div>
            </center>
            </span>





    </div>
    </main>







    <div class="footer foot" >
        <div id="fbar">
            <div class="fbar">
            <div class="user-loc-holder">
                <div class="footer-content">
                    <span class="user-loc">Nigeria</span>
                </div>
            </div>
            <span class="float-right-w-mr">
                    <a href="#" class="lnk-txt" >Privacy</a>
                    <a href="#" class="lnk-txt">Terms</a>
                    <a href="#" class="lnk-txt">Settings</a>
                </span>
            <span  class="m-wrap" >
                    <a href="#" class="lnk-txt" >Advertising</a>
                    <a href="#" class="lnk-txt" >Business</a>
                    <a href="#" class="lnk-txt">  How Search works </a>
                </span>
        </div>
        </div>
    </div>
</div>
<script type="application/javascript" src="../js/google.js"></script>
</body>
</html>